/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: "notosans";
  font-weight: 300;
  H letter-spacing: -0.25px;
  src: url(../../../webfonts/NotoSansKR-Light.woff) format("woff");
  src: local("☺"), url(../../../webfonts/NotoSansKR-Light.woff2) format("woff2");
}

@font-face {
  font-family: "notosans";
  font-weight: normal;
  letter-spacing: -0.25px;
  src: url(../../../webfonts/NotoSansKR-Regular.woff) format("woff");
  src: local("☺"),
    url(../../../webfonts/NotoSansKR-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "notosans";
  font-weight: 500;
  letter-spacing: -0.25px;
  src: url(../../../webfonts/NotoSansKR-Medium.woff) format("woff");
  src: local("☺"),
    url(../../../webfonts/NotoSansKR-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "notosans";
  font-weight: 700;
  letter-spacing: -0.25px;
  src: url(../../../webfonts/NotoSansKR-Bold.woff) format("woff");
  src: local("☺"), url(../../../webfonts/NotoSansKR-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "roboto";
  src: url(../../../webfonts/roboto-v20-latin-700.woff) format("woff");
  src: local("☺"), url(../../../webfonts/roboto-v20-latin-700.woff2);
}

html {
  font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}

.img-box>img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0>* {
  line-height: normal;
}

.width-30px {
  width: 30px;
}

.width-35px {
  width: 35px;
}

.width-40px {
  width: 35px;
}

.width-45px {
  width: 35px;
}

.width-50px {
  width: 50px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-100p {
  width: 100%;
}

.width-60p {
  width: 60%;
}

.width-55p {
  width: 55%;
}

.width-50p {
  width: 50%;
}

.width-45p {
  width: 45%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-35p {
  width: 35%;
}

.width-100p-except-30px {
  width: calc(100% - 30px);
}

.width-100p-except-35px {
  width: calc(100% - 35px);
}

.width-100p-except-40px {
  width: calc(100% - 40px);
}

.width-100p-except-50px {
  width: calc(100% - 50px);
}

.width-100p-except-80px {
  width: calc(100% - 80px);
}

.width-100p-except-100px {
  width: calc(100% - 100px);
}

.border-box {
  box-sizing: border-box;
}

.font-size-dot-8rem {
  font-size: 0.8rem;
}

.table-row {
  display: table;
}

.table-row.row::after {
  display: inline;
  clear: non;
}

.table-row>.cell {
  float: none;
  display: table-cell;
}

.flex {
  display: flex;
}

.flex>.cell {
  float: none;
}

.ch-flex-1-0-auto>* {
  flex: 1 0 auto;
}

.justify-content-fe {
  justify-content: flex-end;
}

.justify-content-fs {
  justify-content: flex-start;
}

.justify-content-sa {
  justify-content: space-around;
}

.justify-content-sb {
  justify-content: space-between;
}

.align-self-center {
  align-self: center;
}

.flex-wrap-no {
  flex-wrap: nowrap;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.flex-warp-warpre {
  flex-wrap: wrap-reverse;
}

.align-items-center {
  align-items: center;
}

*>.flex-1-0-0 {
  flex: 1 0 0;
}

*>.flex-ai-c {
  display: flex;
  align-items: center;
}

*>.flex-jc-c {
  display: flex;
  justify-content: center;
}

/* 커스텀 */
.con-min-width {
  min-width: 1356px;
}

.con {
  width: 1356px;
}

.con-1 {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

.color-666 {
  color: #666;
}

.color-333 {
  color: #333;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-900 {
  font-weight: 900;
}

.font-size-15 {
  font-size: 14px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-27 {
  font-size: 27px;
}


.absolute {
  position: absolute;
  z-index: 4;
  background-color: #fff;
  width: 100%;
  top: 80%;
}

/* main-vide 커스텀 */
.main-video {
  width: 100%;
  height: 1000px;
}

.main-video>video {
  position: absolute;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

/* top-bar 커스텀 */
.top-bar {
  color: #fff;
  width: 100%;
  z-index: 5;
  transition: border-bottom .5s;
}


.top-bar:hover,
.top-bar.no-bar {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.top-bar:hover>.logo>a>div {
  display: block;
  width: 140px;
  height: 20px;
  margin-top: 21px;
  background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kakaoenterprise/logo_enterprise_b.png) no-repeat 0 0;
  font-size: 0;
  background-size: 100% auto;
  text-indent: -999px;
}

.top-bar:hover {
  border-bottom: 1px solid #e0e0e0;
}

.top-bar:hover::after {
  content: "";
  width: 100%;
  top: 66px;
  background-color: #e0e0e0;
  height: 1px;
  position: absolute;
}

/* logo 커스텀 */
.logo>a {
  width: 140px;
  height: 20px;
}

.logo>a>div {
  display: block;
  width: 140px;
  height: 20px;
  margin-top: 21px;
  background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kakaoenterprise/logo_enterprise_w.png) no-repeat 0 0;
  font-size: 0;
  background-size: 100% auto;
  text-indent: -999px;
}

.logo {
  width: 15%;
}

.logo>a {
  display: inline-block;
  margin-left: 80px;
}

/* menu-box-1 커스텀 */
.menu-box-1 {
  width: 70%;
}

.menu-box-1>ul {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.menu-box-1>ul>li {
  width: calc(100%/6);
  height: 100%;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}

.menu-box-1>ul>li>a {
  padding-bottom: 20px;
  margin: 20px;
}

.menu-box-1>ul>li>a:hover {
  border-bottom: 2px solid #32418C;
}

.menu-box-1 ul ul {
  display: none;
  position: relative;
  margin-top: 22px;
  left: 0;
  right: 0;
  height: 180px;
}

.menu-box-1 ul ul>li:first-child {
  margin-top: 40px;
}

.menu-box-1 ul ul>li {
  padding: 5px 0;
}

.menu-box-1 ul:hover ul {
  display: block;
}

.menu-box-1>ul>li:nth-child(4)>ul>li>a::after {
  width: 20px;
  height: 25px;
  content: "";
  display: inline-block;
  overflow: hidden;
  background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kakaoenterprise/ico_pc_200707.png) no-repeat 0 0;
  background-size: 70px 100px;
  vertical-align: top;
  background-position: -30px -25px;
  border-radius: 50%;
  margin-left: 10px;
}

.menu-box-1 ul ul>li>a {
  font-size: 13px;
  padding: 1px 0;
}

.menu-box-1 ul ul>li:hover>a {
  color: #32418C;
  border-bottom: 1px solid #32418C;
}

/* 인재영입 커스텀 */
.contact {
  width: 15%;
}

.contact {
  text-align: right;
}

.contact>a {
  margin-right: 80px;
  padding: 20px 0;
  display: inline-block;
}

.contact>a::after {
  width: 20px;
  height: 25px;
  content: "";
  display: inline-block;
  overflow: hidden;
  background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kakaoenterprise/ico_pc_200707.png) no-repeat 0 0;
  background-size: 70px 100px;
  vertical-align: top;
  background-position: -30px -25px;
  border-radius: 50%;
  margin-left: 10px;
}






/* 비디오 효과 커스텀 */

.animation>.logo-img,
.animation-6,
.animation-7 {
  opacity: 0;
  transition: margin-top .5s, opacity .5s;
}

.animation>.logo-img {
  margin-top: 50px;
}

.animation.active>.logo-img {
  margin-top: 0;
  opacity: 1;
}

.animation.nonactive>.logo-img {
  margin-top: -50px;
  opacity: 0;
}

.animation-6.avtive {
  opacity: 1;
}

.animation-7.avtive {
  opacity: 1;
}

.animation>.logo-img>span {
  color: #fff;
  font-weight: bold;
  font-size: 10rem;
}

.animation>.logo-img>img {
  transform: translatey(10%);
}

.animation>.logo-img {
  left: 3%;
}

.animation-6>.logo-img {
  text-align: center;
  top: 32%;
}

.animation-6>.logo-img>img {
  width: 85%;

}

.animation-7>.logo-img {
  right: 50%;
  transform: translatex(-100%) translateY(-10%);
}

.animation-7>.logo-img>img {
  width: 350%;

}

.enterprise-name {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  left: 2%;
}

.logo-img {
  position: absolute;
  z-index: 3;
  top: 25%;
}



/* middle-page 커스텀 */
.middle-page,
.bottom-page,
.bottom-site-map {
  width: 90%;
}

.middle-page {
  margin-bottom: 30px;
}

.middle-page>div,
.bottom-page>div {
  box-sizing: border-box;
  width: calc(96%/3);
}

.middle-page>div>div {
  cursor: pointer;
}

.middle-page>div>div span:last-child {
  margin-left: 70px;
}

.middle-page>div>.link-box:hover>.title {
  text-decoration: underline;
}

.middle-page>div>p {
  letter-spacing: -1px;
}

.middle-page>.commpany>.link-box>div {
  position: relative;
}

.middle-page>.commpany>.link-box>div:first-child {
  padding-right: 25px;
}

.middle-page>.commpany>.link-box>div:first-child::after {
  content: "당연한 것들에 대한 도전";
  position: absolute;
  font-size: 13px;
  color: #666;
  left: 0;
  top: 100%;
  font-weight: bold;
}

.middle-page>.commpany>.link-box>div:last-child::after {
  content: "카카오스러운 생각에 대한 기대";
  position: absolute;
  font-size: 13px;
  color: #666;
  left: 0;
  top: 100%;
  font-weight: bold;
}

/* bottom-page 커스텀 */
.bottom-page {
  margin-bottom: 150px;
}

.bottom-page>div>a>img {
  display: block;
  width: 100%;
}

.bottom-page>div>a:hover>.title {
  text-decoration: underline;
}
.bottom-page > div > a > div {
  padding-top: 20px;
}

.tr {
  margin-bottom: 25px;
  width: 100%;
  height: 1px;
  background-color: #d0d0d0;
}

/* bottom-site-map 커스텀 */
.bottom-site-map>.bottom-link>ul>li {
  position: relative;

}

.bottom-site-map>.bottom-link>ul>li>a {
  padding-right: 20px;
}

.bottom-site-map>.bottom-link>ul>li:hover>a {
  color: #000;
}

.bottom-site-map>.bottom-link>ul>li:not(:first-child)>a::after {
  content: "";
  width: 1px;
  height: 8px;
  background-color: #aaa;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translatey(-50%);
}


.bottom-site-map-2 {
  margin: 15px 0;
}

.address,
.copyright {
  color: #b1b1b1;
  font-size: 12px;
  margin-bottom: 5px;
}

.bottom-site-map-2>.text {
  flex-grow: 3;
}

.sns-link {
  flex-grow: 1;
}


.family-site {
  font-size: 12px;
  position: relative;
  border-bottom: 1px solid #000;
  width: 38%;
  margin-left: 30px;
  margin-top: 10px;
  height: 20px;
  cursor: pointer;
}

.family-site::after {
  content: "";
  background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kakaoenterprise/ico_pc_200707.png) no-repeat 0 0;
  position: absolute;
  top: 7px;
  right: 0;
  width: 11px;
  height: 7px;
  background-position: -40px 0;
  transform: rotate(180deg);
  background-size: 70px 100px;
}

.family-site-list {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  bottom: 100%;
  width: 100%;
  padding: 10px 0;
  display: none;
}

.family-site-list>li {
  margin: 15px;
}

.family-site.active {
  font-weight: bold;
}

.family-site.active::after {
  content: "";
  background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kakaoenterprise/ico_pc_200707.png) no-repeat 0 0;
  position: absolute;
  top: 7px;
  right: 0;
  width: 11px;
  height: 7px;
  background-position: -40px 0;
  transform: rotate(0deg);
  background-size: 70px 100px;
}

.family-site.active>.family-site-list {
  display: block;
}

/* alerted 커스텀 */
.alerted.active {
  display: block;
}
.alerted {
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
.alerted > .alert-box {
  padding: 50px;
  background: #fff;
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
}

.alerted > .alert-box > .close-btn {
  margin-top: 20px;
}

.alerted > .alert-box > .close-btn > .close-text {
  padding: 5px 15px;
  border:1px dotted #000;
  cursor: pointer;
}
.alerted > .alert-box > .close-btn:active > .close-text {
  background: #efefef;
}
/* alerted 커스텀 끝 */